.btn_logout {
    position: absolute;
    top: 18px;
    right: 30px;
}

.user_name {
    position: absolute;
    top: 12px;
    right: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: blue;
}

.btn__modal {
    // margin-left: 35px;
    // margin-top: 30px;
    margin: 30px 35px 30px 35px;
}

.table__container {
    margin: 0 35px;
}